In [1]:
##import libraries
import pandas as pd

In [2]:
df_brooklyn = pd.read_csv("data/File4_BrooklynData.csv")
df_brooklyn

,EventID,EventType,StartDateTime,EndDateTime,ParkingHeld,Borough,Category,SubCategoryName,Country,ZipCode(s)
0,688549,Shooting Permit,2023-01-03 10:00:00,2023-01-03 23:00:00,"KENT STREET between WEST STREET and DEAD END, ...",Brooklyn,Television,Episodic series,United States of America,11222
1,686418,Shooting Permit,2023-01-04 06:00:00,2023-01-04 23:00:00,MONITOR STREET between GREENPOINT AVENUE and N...,Brooklyn,Television,Episodic series,United States of America,11222
2,686923,Shooting Permit,2023-01-04 06:00:00,2023-01-04 22:00:00,N HENRY STREET between GREENPOINT AVENUE and C...,Brooklyn,Television,Episodic series,United States of America,11222
3,686685,Shooting Permit,2023-01-04 07:00:00,2023-01-04 23:00:00,NASSAU AVENUE between NEWEL STREET and DIAMOND...,Brooklyn,Television,Cable-episodic,United States of America,11222
4,686330,Shooting Permit,2023-01-04 07:00:00,2023-01-04 22:00:00,MESEROLE AVENUE between HUMBOLDT STREET and MO...,Brooklyn,Television,Episodic series,United States of America,11222
...,...,...,...,...,...,...,...,...,...,...
1390,771818,Shooting Permit,2024-03-28 09:00:00,2024-03-28 23:00:00,HIGHLAWN AVENUE between WEST 5 STREET and W...,Brooklyn,Television,Episodic series,United States of America,"11222, 11223"
1391,771699,Shooting Permit,2024-03-28 09:30:00,2024-03-28 23:30:00,WASHINGTON AVENUE between FLUSHING AVENUE and ...,Brooklyn,Television,Cable-episodic,United States of America,"11205, 11251"
1392,771667,Shooting Permit,2024-03-28 15:00:00,2024-03-29 05:00:00,GREENPOINT AVENUE between JEWEL STREET and NEW...,Brooklyn,Television,Episodic series,United States of America,11222
1393,772294,Shooting Permit,2024-03-29 07:00:00,2024-03-30 00:00:00,VAN DYKE STREET between DEAD END and CONOVER S...,Brooklyn,Television,Episodic series,United States of America,11231
1394,769909,Shooting Permit,2024-03-29 18:00:00,2024-03-30 02:00:00,EVERGREEN AVENUE between CHAUNCEY STREET and P...,Brooklyn,Film,Short,United States of America,11207

In [ ]:
## I want to define how much "theatre, television, doc, film, and commercial happens in each zipcode"
## I'm going to try doing that by Groupbys

In [4]:
type_bk = df_brooklyn.groupby("Category")
type_bk

In [6]:
##total amount of each category in each thing?
type_bk["ZipCode(s)"].count()

Category
Commercial     218
Film           247
Music Video     11
Television     918
Name: ZipCode(s), dtype: int64

In [ ]:
##the results are not what i planned for but it does give me overalls of the borough which i also needed

In [8]:
##now let's try it the original way
type_gb = df_brooklyn.groupby("ZipCode(s)")

In [19]:
result = df_brooklyn.groupby(['ZipCode(s)', 'Category']).size().unstack(fill_value=0)
result

Category,Commercial,Film,Music Video,Television
ZipCode(s),,,,
"0, 11201, 11217",0,1,0,0
"10001, 10002, 10017, 10022, 10065, 10152, 11201",1,0,0,0
"10001, 10022, 11235",0,1,0,0
"10001, 11222",0,0,0,1
"10002, 10003, 10007, 10019, 10038, 11201",0,1,0,0
...,...,...,...,...
"11237, 11378",0,0,0,1
"11237, 11385",0,0,0,8
11238,8,5,0,6
"11238, 11249",1,1,0,0
11249,6,5,0,8

In [22]:
result2 = df_brooklyn.groupby(['Category', 'ZipCode(s)']).size().unstack(fill_value=0)
result2

ZipCode(s),"0, 11201, 11217","10001, 10002, 10017, 10022, 10065, 10152, 11201","10001, 10022, 11235","10001, 11222","10002, 10003, 10007, 10019, 10038, 11201","10002, 10013, 10038, 11038, 11201, 11222","10002, 10013, 10038, 11222","10002, 10013, 11213, 11237","10002, 10016, 11217","10002, 10038, 11201",...,"11233, 11238",11234,11235,11237,"11237, 11238, 11385","11237, 11378","11237, 11385",11238,"11238, 11249",11249
Category,,,,,,,,,,,,,,,,,,,,,
Commercial,0,1,0,0,0,0,0,0,0,1,...,1,1,0,8,0,0,0,8,1,6
Film,1,0,1,0,1,2,0,1,1,0,...,0,14,9,5,0,0,0,5,1,5
Music Video,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
Television,0,0,0,1,0,0,1,0,0,0,...,0,0,3,12,1,1,8,6,0,8

In [24]:
result2.to_csv("data/BrooklynAnalysis2.csv", index = True, encoding = "UTF-8")

In [23]:
df_analysis = result2.transpose()
df_analysis

Category,Commercial,Film,Music Video,Television
ZipCode(s),,,,
"0, 11201, 11217",0,1,0,0
"10001, 10002, 10017, 10022, 10065, 10152, 11201",1,0,0,0
"10001, 10022, 11235",0,1,0,0
"10001, 11222",0,0,0,1
"10002, 10003, 10007, 10019, 10038, 11201",0,1,0,0
...,...,...,...,...
"11237, 11378",0,0,0,1
"11237, 11385",0,0,0,8
11238,8,5,0,6
"11238, 11249",1,1,0,0
11249,6,5,0,8

In [21]:
result.to_csv("data/BrooklynAnalysis.csv", index = True, encoding = "UTF-8")