In [1]:
#import libraries
import pandas as pd

In [2]:
df_nyc = pd.read_csv("data/File5_ManhattanData.csv")
df_nyc

,EventID,EventType,StartDateTime,EndDateTime,ParkingHeld,Borough,Category,SubCategoryName,Country,ZipCode(s)
0,686527,Shooting Permit,2023-01-04 07:00:00,2023-01-04 21:00:00,5 AVENUE between EAST 109 STREET and EAST 10...,Manhattan,Television,Episodic series,United States of America,10029
1,686548,Shooting Permit,2023-01-05 06:00:00,2023-01-05 20:00:00,WEST MAIN STREET between WEST ROAD and NORTH L...,Manhattan,Television,Episodic series,United States of America,10044
2,687490,Shooting Permit,2023-01-05 07:00:00,2023-01-05 21:00:00,WEST 37 STREET between 7 AVENUE and 9 AVENUE...,Manhattan,Television,Cable-episodic,United States of America,"10001, 10018"
3,688645,Shooting Permit,2023-01-05 09:00:00,2023-01-05 23:59:00,EAST 55 STREET between MADISON AVENUE and 5 ...,Manhattan,Television,Cable-episodic,United States of America,"10001, 10016, 10019, 10022"
4,686650,Shooting Permit,2023-01-06 06:00:00,2023-01-07 02:00:00,WEST 67 STREET between BROADWAY and COLUMBUS...,Manhattan,Television,Cable-episodic,United States of America,10023
...,...,...,...,...,...,...,...,...,...,...
1205,771587,Shooting Permit,2024-03-28 06:00:00,2024-03-28 20:00:00,WEST 83 STREET between CENTRAL PARK WEST and...,Manhattan,Film,Feature,United States of America,"10024, 10028"
1206,771858,Shooting Permit,2024-03-28 08:00:00,2024-03-29 00:00:00,EAST 69 STREET between 5 AVENUE and MADISON ...,Manhattan,Television,Episodic series,United States of America,"10021, 10022, 10065"
1207,771602,Shooting Permit,2024-03-28 12:00:00,2024-03-29 00:00:00,SAINT NICHOLAS AVENUE between WEST 178 STREET...,Manhattan,Television,Cable-episodic,United States of America,"10032, 10033"
1208,769945,Shooting Permit,2024-03-30 06:00:00,2024-03-30 20:00:00,WEST 28 STREET between 5 AVENUE and BROADWAY,Manhattan,Commercial,Commercial,United States of America,10001
1209,769946,Shooting Permit,2024-03-31 07:00:00,2024-03-31 23:59:00,WEST 185 STREET between WADSWORTH AVENUE and ...,Manhattan,Film,Short,United States of America,10033

In [3]:
##finding out how many different things were shot in the city
type_nyc = df_nyc.groupby("Category")
type_nyc

In [6]:
categories = type_nyc["ZipCode(s)"].count()
categories

Category
Commercial     245
Film           308
Music Video      9
Television     648
Name: ZipCode(s), dtype: int64

In [7]:
##now manhattan zipcodes
nyc_zipcodes = [
    10001,
    10002,
    10003,
    10004,
    10005,
    10006,
    10007,
    10009,
    10010,
    10011,
    10012,
    10013,
    10014,
    10016,
    10017,
    10018,
    10019,
    10021,
    10022,
    10023,
    10024,
    10025,
    10026,
    10027,
    10028,
    10029,
    10030,
    10031,
    10032,
    10033,
    10034,
    10035,
    10036,
    10037,
    10038,
    10039,
    10040,
    10044,
    10069,
    10103,
    10119,
    10128,
    10162,
    10165,
    10170,
    10173,
    10199,
    10279,
    10280,
    10282
]

In [8]:
##now to run this lizt of zipcodes to the dataframe and get counts
counts = {}
for nyc_zipcodes in df_nyc['ZipCode(s)']:
    counts[nyc_zipcodes] = counts.get(nyc_zipcodes, 0) + 1
print(counts)

{'10029': 6, '10044': 4, '10001, 10018': 6, '10001, 10016, 10019, 10022': 1, '10023': 16, '10001, 10011': 18, '10021, 10065': 8, '10005, 10006, 10007, 10038, 10045, 10271': 1, '10013, 10033': 1, '10021, 10028, 10075': 4, '0, 10011': 1, '10007, 10013': 49, '10011': 45, '10001, 10010, 10011': 3, '10013': 56, '10024, 10027': 5, '10018, 10019, 10036': 1, '10019': 27, '10002, 10009': 7, '10003, 10011, 10014': 5, '10007, 10013, 10279': 1, '10001, 10016, 10018': 1, '10003, 10009': 16, '10004, 10005, 10038': 15, '10003': 15, '10012, 10013': 9, '10004, 10005, 10038, 10280': 1, '10009, 10010, 10016, 10017, 10022, 10029, 10035, 10044, 10065, 10128, 11101': 1, '10011, 10012, 10014': 8, '10018': 5, '10003, 10009, 10010, 10011': 1, '10011, 10019': 2, '10027, 10115': 1, '10009': 11, '10019, 10036': 6, '10016, 11222': 2, '10007': 19, '10014': 23, '10003, 10011, 10012, 10014': 2, '10001, 11232': 1, '10019, 10022': 4, '10017, 10022, 10167, 10171, 10172, 10177': 2, '10024': 14, '10002': 36, '10011, 10014': 14, '10023, 10069': 1, '10027': 20, '10028': 7, '10019, 10022, 10103, 10152': 1, '10001, 10016, 10017, 10018, 10019, 10036': 1, '10028, 10075': 5, '10019, 10021, 10022, 10065': 1, '10012, 10014': 4, '10005, 10006, 10038, 10045, 10271': 1, '10019, 10020, 10112': 3, '10026': 2, '10017, 10019, 10022, 10171, 10172': 1, '10028, 10029, 10128': 1, '10039, 11377': 1, '10019, 10022, 10152': 1, '10016, 10018': 10, '10019, 10020, 10022, 10111': 1, '10002, 10038': 11, '10017, 10022, 10152, 10171, 10172': 3, '10001': 43, '10033': 22, '10016, 10018, 10036': 2, '10002, 10009, 10012, 10013': 2, '10016, 10018, 10022': 1, '10018, 10036': 4, '10010': 11, '10003, 10012': 8, '10017, 10019, 10020, 10036': 1, '10003, 10009, 11222': 1, '10011, 10013': 2, '10007, 10012, 10013': 2, '10017': 8, '10001, 10011, 10016': 1, '10002, 10013, 10038': 10, '10007, 10013, 10282': 2, '10017, 10022, 10152, 10171': 2, '10001, 10016, 10017, 10018, 10173': 1, '10003, 10011': 8, '10002, 10003, 10009, 10011, 10012, 10014, 11211': 1, '10004, 10005, 10006, 10038, 10045, 10271': 1, '10001, 10017': 1, '10022, 10028, 10065, 10075, 10128': 1, '10017, 10022, 10065, 10171, 10172': 1, '10017, 10020, 10036': 2, '10002, 10012, 10013': 14, '10022': 10, '10007, 10013, 10279, 10282': 1, '10002, 10012': 10, '10021, 10023, 10075': 2, '10017, 10019, 10020, 10023, 10024, 10036': 1, '10004, 10005, 10038, 11222': 1, '10025': 9, '10003, 10021, 10075': 1, '10002, 10012, 10013, 10038': 2, '10001, 10454, 11101': 1, '10011, 10012, 10014, 11101, 11211, 11378': 1, '10010, 10016, 11222': 1, '10001, 10454': 1, '10002, 10004, 10005, 10038': 1, '10017, 10022, 10027, 10031, 10036, 10152': 1, '10002, 10004, 10005, 10038, 11201': 3, '10036': 15, '10002, 10038, 11209, 11214, 11224': 1, '10021, 10028, 10065': 1, '10038': 8, '10010, 10011': 2, '10010, 10019, 10036': 1, '10028, 11205': 1, '10016': 5, '10003, 10010, 10011, 10019, 10020': 1, '10022, 10044, 10065, 11101': 3, '10002, 10018, 10036, 10038': 1, '10017, 10022': 4, '10005, 10038': 6, '10002, 10013': 14, '10001, 10010, 10016': 1, '10019, 10020': 6, '10031, 10032, 10034': 1, '10021': 9, '10010, 10011, 10016': 1, '10032': 15, '10021, 10075': 3, '10024, 10025': 8, '10014, 10018': 1, '10003, 10010': 3, '10003, 10010, 10011': 9, '10011, 10012, 10013, 10014': 1, '10019, 10106': 1, '10019, 10024, 10036': 1, '10005, 10007, 10038': 1, '10006, 10011, 10280, 10281': 1, '10001, 10010': 2, '10017, 10036': 4, '10021, 10023, 10024': 1, '10031, 10032, 10454': 1, '10001, 10010, 10016, 11101': 1, '10031': 6, '10012': 8, '10002, 10011': 1, '10010, 10016': 3, '10019, 10023': 7, '10044, 11101': 1, '10002, 10012, 11222': 1, '10024, 10028, 10075, 10128': 1, '10001, 10010, 10016, 10018': 1, '10031, 10032': 4, '10017, 10036, 10173': 4, '10004, 10005, 10006, 10007, 10038': 1, '10022, 10028, 10065, 10075': 1, '10028, 10128': 3, '10002, 10013, 10036': 1, '10019, 10020, 10022, 10112': 1, '10020, 10022, 10036, 10112': 1, '10001, 10003, 10011': 1, '10021, 10022, 10065, 10152': 1, '10001, 10016, 10019, 10022, 10065, 10118': 1, '10001, 10118': 1, '10030, 10031, 10039, 11101, 11104': 1, '10023, 10024': 2, '10002, 10013, 10035': 1, '10026, 10027': 10, '10027, 10031': 5, '10016, 10017, 10018, 10036': 1, '10065': 10, '10017, 10036, 11222': 1, '10002, 10004, 10005': 1, '10002, 10005, 10006, 10009, 10011, 10012, 10014': 1, '10021, 10029, 10075': 1, '10004, 10005': 5, '10004': 2, '10002, 10003, 10011, 10014': 1, '10023, 10024, 10025, 10075': 1, '10001, 10021, 10028, 10075': 1, '10007, 10013, 10038': 1, '10001, 10017, 10036': 1, '10004, 10005, 10006': 2, '10034, 10040': 1, '10002, 10007, 10013': 1, '10013, 10014': 7, '10003, 10014': 1, '10019, 10022, 10065': 1, '10016, 10017, 10018, 10036, 10173': 1, '10017, 10065': 1, '10003, 10011, 10012, 10013': 1, '10016, 10017': 4, '10016, 10017, 10018': 1, '10023, 10028, 10128': 1, '10017, 10033, 10036': 1, '10001, 10118, 11222': 1, '10029, 10035': 1, '10003, 10009, 10017': 1, '10001, 10013, 10282, 11222': 1, '10026, 10029': 1, '10007, 10038, 10279, 10282': 1, '10023, 10024, 10025, 10026, 10027, 10029, 10030, 10035, 10037': 1, '10017, 10022, 10152': 5, '10002, 11211': 1, '10005, 10038, 10045': 4, '10027, 10030': 2, '10030': 4, '10004, 11222': 1, '10019, 10021, 10022, 10075, 10152': 1, '10001, 10013': 1, '10002, 10012, 10013, 10017, 10021, 10022, 10065, 10152': 1, '10001, 10004, 10018, 10305': 1, '10017, 10021, 10022, 10075, 10152, 10167, 10171, 10172, 10177': 1, '10002, 10013, 10022, 10044, 10065, 11101': 1, '10128': 3, '10001, 11222': 2, '10012, 11237': 1, '10023, 10065': 1, '10031, 10032, 10039': 4, '10017, 11238': 1, '10011, 10014, 11222': 1, '10023, 10024, 10025': 1, '10017, 10019, 10020, 10036, 11101': 2, '10017, 10170': 1, '10021, 10128': 1, '10001, 11101, 11222': 1, '10004, 10005, 10007, 10038, 10045': 1, '10004, 10038': 2, '10004, 10009, 10029': 1, '10019, 10021, 10023': 1, '10005, 10024, 10038': 1, '10016, 11101': 1, '10004, 10005, 10012, 10013, 10014': 1, '10007, 10013, 10038, 10279': 1, '10005': 2, '10013, 10017, 10036': 1, '10001, 10017, 10022, 10152': 1, '10002, 10004, 10005, 10038, 10045, 11211': 1, '10013, 11222': 1, '10001, 10012, 10014, 10022, 10038, 10152, 11101, 11222': 1, '10024, 10025, 10027': 2, '10001, 11237': 1, '10026, 10027, 10031, 10035': 1, '10021, 10065, 10075': 1, '10007, 10013, 10280, 10282': 1, '10003, 10007, 10013, 10016, 10017, 10018': 1, '10011, 10013, 10014': 1, '10014, 10028, 10075': 1, '10016, 10019, 10020': 1, '10021, 10023, 10024, 10025, 10075': 2, '10002, 10004': 1, '10002, 10011, 10013': 1, '10007, 10013, 10278, 10279': 1, '10013, 11249': 1, '10001, 10010, 10011, 10013, 10016, 10017, 10022, 10152, 10165, 10170, 10171, 10174': 1, '10019, 10020, 10036, 10111, 10112': 1, '10019, 10020, 10036, 11206': 1, '10001, 10016, 10024, 10027': 1, '10032, 10033': 6, '10039': 1, '10022, 11230': 1, '10019, 10020, 10022, 10065, 10103, 10105, 10119, 10152, 10154, 10155': 1, '10019, 10020, 10022, 10065, 10103, 10105, 10119, 10152, 10154': 1, '10012, 10459': 1, '10016, 10017, 10178': 1, '10011, 10012': 1, '10011, 11218, 11226': 1, '10004, 10006': 3, '10065, 11102, 11106': 1, '10007, 10013, 10014, 10282': 1, '10034': 3, '10020, 10112': 1, '10013, 10038': 1, '10013, 10018': 1, '10004, 10005, 10007, 10279': 1, '10002, 10007': 1, '10075': 6, '10010, 10019, 10023': 1, '10003, 10007': 1, '10011, 10014, 11201': 1, '10002, 11222': 1, '10002, 10009, 10019, 10020, 10112': 1, '10007, 11231': 1, '10003, 10011, 10027': 1, '10002, 11354': 1, '10013, 11101, 11109': 1, '10006, 10038': 2, '10023, 11201': 1, '10032, 11101': 1, '10003, 10016': 1, '10004, 10005, 10045': 1, '10006': 1, '10025, 10027, 10115': 1, '10017, 10018, 10036': 1, '10007, 10010, 10011, 10013': 1, '10006, 10007, 10038, 10282': 1, '10001, 10016': 6, '10003, 10009, 10010': 2, '10033, 10040': 1, '10004, 10005, 10006, 10038': 1, '10021, 10023, 10024, 10025, 10028, 10075': 3, '10002, 10014, 10038, 11201, 11211': 1, '10009, 11216, 11435': 1, '10022, 10152': 1, '10014, 10065': 1, '10036, 10105': 2, '10023, 10024, 10027': 5, '10002, 10011, 10013, 10014': 1, '10020, 10036, 10105': 4, '10030, 10039': 1, '10004, 10035, 10038': 1, '10019, 10027, 10030, 10036': 1, '10022, 10065': 3, '10007, 10013, 10278': 1, '10007, 10278': 2, '10037': 1, '10001, 10003, 10010': 1, '10021, 10022, 10065': 4, '10017, 10019, 10022': 1, '10019, 10022, 10023, 10024, 10025, 10065': 1, '10033, 11101': 1, '10029, 10128': 1, '10005, 10013, 10038': 1, '00083, 10021, 10023, 10029, 10075': 1, '10009, 10016, 10026': 1, '10016, 10031': 1, '10004, 10005, 10006, 10038, 10045': 1, '10032, 10033, 10040': 1, '10003, 10011, 10012': 1, '10013, 10017': 1, '10016, 10017, 10036': 1, '10005, 10006, 10038, 10045': 1, '10007, 10011, 10012, 10014, 10038': 1, '10002, 10003, 10009, 11215': 1, '10019, 10023, 10105, 10119': 1, '10007, 10013, 10019, 10023, 10279': 1, '10010, 10016, 10017': 1, '10004, 10013, 10282': 1, '10001, 10011, 10014': 1, '10019, 10025, 10065': 1, '10019, 10025': 1, '10013, 10014, 10019, 10036': 1, '10009, 11222': 1, '10003, 10012, 11231': 1, '10001, 10007, 10011, 10013': 1, '10004, 10005, 10009, 10038': 1, '10024, 10028': 1}

In [9]:
df_zipcodes = pd.DataFrame.from_dict(counts, orient='index')
df_zipcodes

                             0
10029                        6
10044                        4
10001, 10018                 6
10001, 10016, 10019, 10022   1
10023                       16
...                         ..
10009, 11222                 1
10003, 10012, 11231          1
10001, 10007, 10011, 10013   1
10004, 10005, 10009, 10038   1
10024, 10028                 1

[345 rows x 1 columns]

In [14]:
ordered = df_zipcodes.sort_values(by=0, ascending=False)

In [15]:
ordered

                      0
10013                56
10007, 10013         49
10011                45
10001                43
10002                36
...                  ..
10007, 10013, 10038   1
10001, 10017, 10036   1
10034, 10040          1
10002, 10007, 10013   1
10024, 10028          1

[345 rows x 1 columns]

In [16]:
ordered.to_csv("data/ManhattanZipcodesCount.csv", index = True, encoding = "UTF-8")